<div class="page-header">
<img class="image_small" src="<%= @artist.image_url %>" alt="...">
  <h1 class= "name_under_photo"> <%= @artist.artist_name %></h1>
</div>
  <div class="col-sm-10 col-md-4">
    <div class="col-sm-2"></div>
      <div class="col-md-8">
      <% @artist.songs.each do |song| %>
        <ul>
            <li>
              <p><b>Song:</b> <%= song.title %></p>
              <p> <b>Album:</b> <%=  song.album %> </p><p>
              <p> <b>Release date:</b> <%=  song.release_date %> </p><p>
              <%= link_to "Delete", artist_song_path( @artist, song ), class: "btn btn-default", method: :delete, data: { confirm: "Are you sure?" } %>
            </li>
        </ul>
      <% end %>
     </div>
  </div>


<div class="col-md-8">
  <h4><b> Enter new song</b></h4>
  <%= render 'songs/form' %>
</div>
